<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/pop/per.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


  <style>
    #findLB {
      color: #565555;
    }

    #signupLB {
      color: #565555;
    }
  </style>


</head>

<body>

  <div id="login-column" class="col-md-12">
    <div id="login-box" class="col-md-6">

      <form id="login-form" class="form" action="#" method="post">
        <h3 class="text-center text-info">Login</h3><br>
      


        <!-- ID 입력창 -->
        <div class="form-group">
          <input type="text" name="userID" id="UserID" placeholder="ID" class="form-control">
        </div>


        <!-- Password 입력창 -->
        <div class="form-group">
          <input type="password" name="password" id="Password" placeholder="Password" class="form-control">
        </div>


        <div class="form-group">

          <!-- ID 기억하기 -->
          <label class="text-info">Remember me <input id="Remember-me" name="remember-me" type="checkbox"></label><br>

          <!-- login 버튼-->
          <input type="submit" name="submit" class="btn btn-info btn-md" id="Submit" value="Login">

        </div>
      </form>
    </div>
  </div>
 

  

    <!-- *******ZeZe ID/비번 찾기******** -->
    <!-- Button trigger modal -->
    <button type="button" class="btn findIdModal" data-toggle="modal" data-target="#findIdModal">
      <!--#은 아이디다 id가 exampleModal인 얘를 타겟으로 한다-->
      아이디
    </button>
    <!-- 토글 on-off 스위치  -->
    <button type="button" class="btn findPasswordModal" data-toggle="modal" data-target="#findPasswordModal">
      비밀번호
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $("#btn findIdModal").click(function(){
        alert("아이디찾기");
      })

    </script>

    <!-- Modal -->
    <div class="modal fade" id="findIdModal" tabindex="-1" role="dialog" aria-labelledby="findIdModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="findIdModalLabel">아이디 찾기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="input_email" class="col-form-label">Email을 입력하시오</label>
                <!-- 왜 텍스트 대신 라벨을 쓸까? 라벨을 누르면 객체를 특정시키는 시각효과를 나타낸다. -->
                <input type="email" class="form-control" id="input_email">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn findIdDelete" data-dismiss="modal">취소</button>
            <button type="button" class="btn findIdAccess">확인</button>
          </div>
        </div>
      </div>
    </div>

    <!-- enrollmentModal -->
    <div class="modal fade" id="findPasswordModal" tabindex="-1" role="dialog" aria-labelledby="findPasswordModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="findPasswordModalLabel">비밀번호 찾기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="find_password_input_id" class="col-form-label">ID를 입력하시오</label>
                <!-- 왜 텍스트 대신 라벨을 쓸까? 라벨을 누르면 객체를 특정시키는 시각효과를 나타낸다. -->
                <input type="text" class="form-control" id="find_password_input_id">
              </div>
              <div class="form-group">
                <label for="find_password_input_email" class="col-form-label">Email을 입력하시오</label>
                <!-- 왜 텍스트 대신 라벨을 쓸까? 라벨을 누르면 객체를 특정시키는 시각효과를 나타낸다. -->
                <input type="email" class="form-control" id="find_password_input_email">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn PasswordDelete" data-dismiss="modal">취소</button>
            <button type="button" class="btn PasswordAccess">확인</button>
          </div>
        </div>
      </div>
    </div>



    <!-- 회원가입 -->
    <!-- <div id="signup-link"> 
                           		 <label id="signupLB">Don't have an account? <a href="#">Sign up</a></label> 
                            </div>
                         -->
    <!--********** 페이커 ***********-->
    <button type="button" class="btn Enroll" data-toggle="modal" data-target="#Enrollmodal">
      회원가입
    </button>

    <!-- Modal -->
    <div class="modal fade" id="Enrollmodal" tabindex="-1" role="dialog" aria-labelledby="EnrollmodalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="EnrollmodalLabel">회원가입</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">이메일 주소</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email" />
                <!-- placeholder="Enter email" : email을 쓰라는 회색 글씨 -->
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">비밀번호</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">비밀번호 확인</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Check Password" />
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <!-- 약관 앞에 체크 버튼 누르기 -->
                <label class="form-check-label" for="exampleCheck1">약관에 동의합니다.</label>
              </div>
              <button type="submit" class="btn Enroll">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    


  <script>
    // $는 jquery
    $('#testBtn').click(function (e) {
      e.preventDefault();
      $('#testModal').modal("show");
    });

    $("#Submit").click(function () {
      if ($("#UserID").val().length == 0) {
        alert("ID를 입력하세요.");
        $("#UserID").focus(); return false;
      }

      if ($("#Password").val().length == 0) {
        alert("비밀번호를 입력하세요.");
        $("#Password").focus(); return false;
      }
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>